.search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 40px;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  padding: 0 20px;
  border-radius: 6px;

  & input {
    &::-ms-clear {
      /* Remove IE default X */
      display: none;
    }
    all: unset;
    width: 100%;
    padding: 0 16px;
    font-size: 18px;
  }

  & img:nth-last-child(1) {
    cursor: pointer;
  }
}
